@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  outline: none;
  border: none;
  padding: 0;
  font-family: "微軟正黑體";
  cursor: pointer;
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

i {
  display: block;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

@font-face {
  font-family: myCustomFont;
  src: url("../font/MFinance HK Bold(盈富體).ttf") format("truetype");
}
html {
  width: 100%;
  height: 100%;
  background: #f1f6fb;
}
html body {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1920px;
  max-height: 1000px;
  margin: auto;
  overflow: hidden;
}
html body main {
  padding: 60px 0;
}
html body main .maintain {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 40px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
html body main .maintain .logo {
  width: 122px;
  height: 153px;
  margin-right: 30px;
}
html body main .maintain .logo > img {
  -o-object-fit: contain;
     object-fit: contain;
}
html body main .maintain .maintainTextBox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body main .maintain .maintainTextBox .maintainText {
  font-weight: bold;
}
html body main .maintain .maintainTextBox .maintainText.maintainText--en {
  color: #d22442;
  font-size: 20px;
  margin-bottom: 17px;
}
html body main .maintain .maintainTextBox .maintainText.maintainText--ch {
  color: #252525;
  font-family: "myCustomFont";
}
html body main .maintain .maintainTextBox .maintainText.maintainText--ch.maintainText--ch__top {
  font-size: 64px;
  margin-bottom: 17px;
}
html body main .maintain .maintainTextBox .maintainText.maintainText--ch.maintainText--ch__bottom {
  font-size: 40px;
}
html body main .maintainInfo {
  color: #252525;
  font-size: 24px;
  text-align: center;
}
html body .bgBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
html body .bgBox .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
html body .bgBox .bg.bg--02 {
  background: url("../img/bg2.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--03 {
  background: url("../img/bg3.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--04 {
  background: url("../img/bg4.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--05 {
  background: url("../img/bg5.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--06 {
  background: url("../img/bg6.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--07 {
  background: url("../img/bg7.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--08 {
  background: url("../img/bg8.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--09 {
  background: url("../img/bg9.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--10 {
  background: url("../img/bg10.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--11 {
  background: url("../img/bg11.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--12 {
  background: url("../img/bg12.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--13 {
  background: url("../img/bg13.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--14 {
  background: url("../img/bg14.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--15 {
  background: url("../img/bg15.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--16 {
  background: url("../img/bg16.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--17 {
  background: url("../img/bg17.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--18 {
  background: url("../img/bg18.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--19 {
  background: url("../img/bg19.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--20 {
  background: url("../img/bg20.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--21 {
  background: url("../img/bg21.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--22 {
  background: url("../img/bg22.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--23 {
  background: url("../img/bg23.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--24 {
  background: url("../img/bg24.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--25 {
  background: url("../img/bg25.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--26 {
  background: url("../img/bg26.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--27 {
  background: url("../img/bg27.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--28 {
  background: url("../img/bg28.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--29 {
  background: url("../img/bg29.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--30 {
  background: url("../img/bg30.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--31 {
  background: url("../img/bg31.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--32 {
  background: url("../img/bg32.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--33 {
  background: url("../img/bg33.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--34 {
  background: url("../img/bg34.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--35 {
  background: url("../img/bg35.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--36 {
  background: url("../img/bg36.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--37 {
  background: url("../img/bg37.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--38 {
  background: url("../img/bg38.png") no-repeat;
  background-position: top center;
}
html body .bgBox .bg.bg--39 {
  background: url("../img/bg39.png") no-repeat;
  background-position: top center;
}
html body .football {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  -webkit-animation: bounceX 5s linear 0s infinite, bounceY 3s linear 0s infinite, rotateXY 3s linear 0s infinite;
          animation: bounceX 5s linear 0s infinite, bounceY 3s linear 0s infinite, rotateXY 3s linear 0s infinite;
}
@-webkit-keyframes bounceX {
  0%, 100% {
    left: 0;
  }
  50% {
    left: calc(100% - 150px);
  }
}
@keyframes bounceX {
  0%, 100% {
    left: 0;
  }
  50% {
    left: calc(100% - 150px);
  }
}
@-webkit-keyframes bounceY {
  0%, 100% {
    top: 0;
  }
  50% {
    top: calc(100% - 150px);
  }
}
@keyframes bounceY {
  0%, 100% {
    top: 0;
  }
  50% {
    top: calc(100% - 150px);
  }
}
@-webkit-keyframes rotateXY {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateXY {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}