@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  outline: none;
  border: none;
  padding: 0;
  font-family: "微軟正黑體";
  cursor: pointer;
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

i {
  display: block;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

@font-face {
  font-family: myCustomFont;
  src: url("../font/MFinance HK Bold(盈富體).ttf") format("truetype");
}
html {
  width: 100%;
  height: 100%;
  background: #6fb05e;
}
html body {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1920px;
  max-height: 1000px;
  margin: auto;
  overflow: hidden;
}
html body .app {
  width: auto;
  height: auto;
}
html body main {
  padding: 50px 0;
}
html body main .maintain .maintainTitle {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 38px;
  position: relative;
}
html body main .maintain .maintainTitle .logo {
  width: 122px;
  height: 153px;
  padding-top: 4px;
  margin-right: 23px;
}
html body main .maintain .maintainTitle .logo > img {
  -o-object-fit: contain;
     object-fit: contain;
}
html body main .maintain .maintainTitle .maintainTextBox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body main .maintain .maintainTitle .maintainTextBox .maintainText {
  font-weight: bold;
  text-align: center;
}
html body main .maintain .maintainTitle .maintainTextBox .maintainText.maintainText--en {
  color: #d22442;
  font-size: 25px;
  margin-bottom: 10px;
}
html body main .maintain .maintainTitle .maintainTextBox .maintainText.maintainText--ch {
  color: #252525;
  font-family: "myCustomFont";
}
html body main .maintain .maintainTitle .maintainTextBox .maintainText.maintainText--ch.maintainText--ch__top {
  font-size: 71px;
  margin-bottom: 12px;
}
html body main .maintain .maintainTitle .maintainTextBox .maintainText.maintainText--ch.maintainText--ch__bottom {
  font-size: 42px;
}
html body main .maintain .maintainInfo {
  color: #252525;
  font-size: 24px;
  text-align: center;
}
html body .filter {
  max-width: 1920px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -999;
  pointer-events: none;
}
html body .filter .bg {
  background: url("../img/bg.png") no-repeat top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -998;
}
html body .filter .footballBox {
  background: url("../img/footballBox.png") no-repeat;
  background-size: contain;
  width: 622px;
  height: 372px;
  position: absolute;
  top: 292px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -997;
  -webkit-animation: jello 1.1s ease-in-out 1.6s 1 normal forwards;
          animation: jello 1.1s ease-in-out 1.6s 1 normal forwards;
}
@-webkit-keyframes jello {
  0%, 11.1%, to {
    -webkit-transform: translateX(-50%) translateZ(0);
            transform: translateX(-50%) translateZ(0);
  }
  22.2% {
    -webkit-transform: translateX(-50%) skewX(-12.5deg) skewY(-12.5deg);
            transform: translateX(-50%) skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: translateX(-50%) skewX(6.25deg) skewY(6.25deg);
            transform: translateX(-50%) skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: translateX(-50%) skewX(-3.125deg) skewY(-3.125deg);
            transform: translateX(-50%) skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: translateX(-50%) skewX(1.5625deg) skewY(1.5625deg);
            transform: translateX(-50%) skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: translateX(-50%) skewX(-0.78125deg) skewY(-0.78125deg);
            transform: translateX(-50%) skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: translateX(-50%) skewX(0.390625deg) skewY(0.390625deg);
            transform: translateX(-50%) skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    -webkit-transform: translateX(-50%) skewX(-0.1953125deg) skewY(-0.1953125deg);
            transform: translateX(-50%) skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes jello {
  0%, 11.1%, to {
    -webkit-transform: translateX(-50%) translateZ(0);
            transform: translateX(-50%) translateZ(0);
  }
  22.2% {
    -webkit-transform: translateX(-50%) skewX(-12.5deg) skewY(-12.5deg);
            transform: translateX(-50%) skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: translateX(-50%) skewX(6.25deg) skewY(6.25deg);
            transform: translateX(-50%) skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: translateX(-50%) skewX(-3.125deg) skewY(-3.125deg);
            transform: translateX(-50%) skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: translateX(-50%) skewX(1.5625deg) skewY(1.5625deg);
            transform: translateX(-50%) skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: translateX(-50%) skewX(-0.78125deg) skewY(-0.78125deg);
            transform: translateX(-50%) skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: translateX(-50%) skewX(0.390625deg) skewY(0.390625deg);
            transform: translateX(-50%) skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    -webkit-transform: translateX(-50%) skewX(-0.1953125deg) skewY(-0.1953125deg);
            transform: translateX(-50%) skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
html body .filter .lawn {
  background: url("../img/lawn.png") no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -996;
}
html body .filter .carCenter {
  background: url("../img/carCenter.png") no-repeat;
  background-size: contain;
  width: 1102px;
  height: 356px;
  position: absolute;
  top: 329px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -990;
}
html body .filter .carLeft {
  background: url("../img/carLeft.png") no-repeat;
  background-size: contain;
  width: 1102px;
  height: 356px;
  position: absolute;
  top: 329px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -990;
  -webkit-animation: bounceInLeft 1s ease-in-out 0s 1 normal forwards;
          animation: bounceInLeft 1s ease-in-out 0s 1 normal forwards;
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translate3d(-3000px, 0, 0) scaleX(3);
            transform: translateX(-50%) translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translate3d(25px, 0, 0) scaleX(1);
            transform: translateX(-50%) translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translateX(-50%) translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translateX(-50%) translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translateX(-50%) translate3d(5px, 0, 0) scaleX(0.995);
            transform: translateX(-50%) translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    nsform: translateZ(0);
    -webkit-transform: translateX(-50%) translateZ(0);
            transform: translateX(-50%) translateZ(0);
  }
}
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translate3d(-3000px, 0, 0) scaleX(3);
            transform: translateX(-50%) translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translate3d(25px, 0, 0) scaleX(1);
            transform: translateX(-50%) translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translateX(-50%) translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translateX(-50%) translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translateX(-50%) translate3d(5px, 0, 0) scaleX(0.995);
            transform: translateX(-50%) translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    nsform: translateZ(0);
    -webkit-transform: translateX(-50%) translateZ(0);
            transform: translateX(-50%) translateZ(0);
  }
}
html body .filter .football {
  -webkit-filter: drop-shadow(-7px 13px 9px #222);
          filter: drop-shadow(-7px 13px 9px #222);
  background: url("../img/football.png") no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -989;
  -webkit-animation: bounce 0.5s cubic-bezier(0.5, 0.2, 0.8, 0.8) infinite alternate;
          animation: bounce 0.5s cubic-bezier(0.5, 0.2, 0.8, 0.8) infinite alternate;
}
@-webkit-keyframes bounceX {
  0%, 100% {
    right: 0;
  }
  50% {
    right: calc(100% - 150px);
  }
}
@keyframes bounceX {
  0%, 100% {
    right: 0;
  }
  50% {
    right: calc(100% - 150px);
  }
}
@-webkit-keyframes bounceY {
  0%, 100% {
    top: 0;
  }
  50% {
    top: calc(100% - 150px);
  }
}
@keyframes bounceY {
  0%, 100% {
    top: 0;
  }
  50% {
    top: calc(100% - 150px);
  }
}
@-webkit-keyframes rotateXY {
  0% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  100% {
    -webkit-transform: scale(0.5) rotate(720deg);
            transform: scale(0.5) rotate(720deg);
  }
}
@keyframes rotateXY {
  0% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  100% {
    -webkit-transform: scale(0.5) rotate(720deg);
            transform: scale(0.5) rotate(720deg);
  }
}
@-webkit-keyframes moveX {
  from {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  to {
    -webkit-transform: translate(-1500px) rotate(-720deg);
            transform: translate(-1500px) rotate(-720deg);
  }
}
@keyframes moveX {
  from {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  to {
    -webkit-transform: translate(-1500px) rotate(-720deg);
            transform: translate(-1500px) rotate(-720deg);
  }
}
@-webkit-keyframes bounce {
  0% {
    bottom: 340px;
    -webkit-transform: scale 1, 1;
            transform: scale 1, 1;
  }
  10% {
    -webkit-transform: scale(1, 1.1);
            transform: scale(1, 1.1);
  }
  90% {
    -webkit-transform: scale(0.8, 1.3);
            transform: scale(0.8, 1.3);
  }
  95% {
    -webkit-transform: scale(1.2, 0.8);
            transform: scale(1.2, 0.8);
  }
  100% {
    bottom: 10px;
    -webkit-transform: scale(1.2, 0.6);
            transform: scale(1.2, 0.6);
  }
}
@keyframes bounce {
  0% {
    bottom: 340px;
    -webkit-transform: scale 1, 1;
            transform: scale 1, 1;
  }
  10% {
    -webkit-transform: scale(1, 1.1);
            transform: scale(1, 1.1);
  }
  90% {
    -webkit-transform: scale(0.8, 1.3);
            transform: scale(0.8, 1.3);
  }
  95% {
    -webkit-transform: scale(1.2, 0.8);
            transform: scale(1.2, 0.8);
  }
  100% {
    bottom: 10px;
    -webkit-transform: scale(1.2, 0.6);
            transform: scale(1.2, 0.6);
  }
}
html body .filter .shadow {
  background: #000;
  width: 150px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -990;
  -webkit-animation: shadowAni 0.5s cubic-bezier(0.5, 0.2, 0.8, 0.8) infinite alternate;
          animation: shadowAni 0.5s cubic-bezier(0.5, 0.2, 0.8, 0.8) infinite alternate;
}
@-webkit-keyframes shadowAni {
  0% {
    bottom: 0;
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
    opacity: 0.3;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(0.8, 0.6);
            transform: scale(0.8, 0.6);
  }
}
@keyframes shadowAni {
  0% {
    bottom: 0;
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
    opacity: 0.3;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(0.8, 0.6);
            transform: scale(0.8, 0.6);
  }
}
html body .filter .footballRight {
  background: url("../img/footballRight.png") no-repeat top center;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -990;
}
html body .filter .explosion {
  -o-object-fit: contain;
     object-fit: contain;
  width: 384px;
  height: 368px;
  position: absolute;
  top: 505px;
  left: 300px;
}