html {
    width: 100%;
    height: 100%;
    background: #6fb05e;

    body {
        width: 100%;
        height: 100%;
        position: relative;
        max-width: 1920px;
        max-height: 1000px;
        margin: auto;
        overflow: hidden;

        .app {
            width: auto;
            height: auto;
        }

        main {
            padding: 50px 0;

            .maintain {

                .maintainTitle {
                    width: 620px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto 38px;
                    position: relative;

                    // logo
                    .logo {
                        width: 122px;
                        height: 153px;
                        padding-top: 4px;
                        margin-right: 23px;

                        >img {
                            object-fit: contain;
                        }
                    }

                    // text
                    .maintainTextBox {
                        flex-shrink: 0;

                        .maintainText {
                            font-weight: bold;
                            text-align: center;

                            &.maintainText--en {
                                color: #d22442;
                                font-size: 25px;
                                margin-bottom: 10px;
                            }

                            &.maintainText--ch {
                                color: #252525;
                                font-family: 'myCustomFont';

                                &.maintainText--ch__top {
                                    font-size: 71px;
                                    margin-bottom: 12px;
                                }

                                &.maintainText--ch__bottom {
                                    font-size: 42px;
                                }
                            }
                        }
                    }
                }

                .maintainInfo {
                    color: #252525;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }

        .filter {
            max-width: 1920px;
            max-height: 1000px;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -999;
            pointer-events: none;

            .bg {
                background: url('../img/bg.png') no-repeat top center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -998;
            }

            .footballBox {
                background: url('../img/footballBox.png') no-repeat;
                background-size: contain;
                width: 622px;
                height: 372px;
                position: absolute;
                top: 292px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -997;
                animation: jello 1.1s ease-in-out 1.6s 1 normal forwards;

                @keyframes jello {

                    0%,
                    11.1%,
                    to {
                        transform: translateX(-50%) translateZ(0)
                    }

                    22.2% {
                        transform: translateX(-50%) skewX(-12.5deg) skewY(-12.5deg)
                    }

                    33.3% {
                        transform: translateX(-50%) skewX(6.25deg) skewY(6.25deg)
                    }

                    44.4% {
                        transform: translateX(-50%) skewX(-3.125deg) skewY(-3.125deg)
                    }

                    55.5% {
                        transform: translateX(-50%) skewX(1.5625deg) skewY(1.5625deg)
                    }

                    66.6% {
                        transform: translateX(-50%) skewX(-.78125deg) skewY(-.78125deg)
                    }

                    77.7% {
                        transform: translateX(-50%) skewX(.390625deg) skewY(.390625deg)
                    }

                    88.8% {
                        transform: translateX(-50%) skewX(-.1953125deg) skewY(-.1953125deg)
                    }
                }
            }

            .lawn {
                background: url('../img/lawn.png') no-repeat;
                background-position: top center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -996;
            }

            .carCenter {
                background: url('../img/carCenter.png') no-repeat;
                background-size: contain;
                width: 1102px;
                height: 356px;
                position: absolute;
                top: 329px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -990;
            }

            .carLeft {
                background: url('../img/carLeft.png') no-repeat;
                background-size: contain;
                width: 1102px;
                height: 356px;
                position: absolute;
                top: 329px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -990;
                animation: bounceInLeft 1s ease-in-out 0s 2 alternate forwards;

                @keyframes bounceInLeft {

                    0%,
                    60%,
                    75%,
                    90%,
                    to {
                        transform: translateX(-50%);
                        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
                    }

                    0% {
                        opacity: 0;
                        transform: translateX(-50%) translate3d(-3000px, 0, 0) scaleX(3)
                    }

                    60% {
                        opacity: 1;
                        transform: translateX(-50%) translate3d(25px, 0, 0) scaleX(1)
                    }

                    75% {
                        transform: translateX(-50%) translate3d(-10px, 0, 0) scaleX(.98)
                    }

                    90% {
                        transform: translateX(-50%) translate3d(5px, 0, 0) scaleX(.995)
                    }

                    to {
                        nsform: translateZ(0);
                        transform: translateX(-50%) translateZ(0)
                    }
                }
            }

            .football {
                width: 150px;
                height: 150px;
                object-fit: contain;
                position: absolute;
                animation: bounceX 4.5s ease-in 0s infinite,
                    bounceY 2.5s linear 0s infinite,
                    rotateXY 1.5s linear 0s infinite alternate forwards;

                @keyframes bounceX {

                    0%,
                    100% {
                        right: 0;
                    }

                    50% {
                        right: calc(100% - 150px);
                    }
                }

                @keyframes bounceY {

                    0%,
                    100% {
                        top: 0;
                    }

                    50% {
                        top: calc(100% - 150px);
                    }
                }

                @keyframes rotateXY {
                    0% {
                        transform: scale(1) rotate(0);
                    }

                    100% {
                        transform: scale(0.5) rotate(720deg);
                    }
                }
            }

            .footballRight {
                background: url('../img/footballRight.png') no-repeat top center;
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -990;
            }

            .explosion {
                object-fit: contain;
                width: 384px;
                height: 368px;
                position: absolute;
                top: 505px;
                left: 300px;
            }
        }
    }
}